<div class="top">
  <div class="container">
    <div class="about-container">
      <p class="about-title">
        十八番ストッカー(仮)とは
      <p class="about">
        カラオケ中にこんなことありませんか？
      <br>
        「自分の番だから早く入れなきゃ...！」
      <br>
        「上司がいる時って何歌えばいいんだろう...」
      <br>
        「もう曲のレパートリーがない...」
      <br>
        十八番ストッカーは、こんなお悩みを解消するために
      <br>
        自分の持ち歌レパートリーを管理できるサービスです。
    </div>
  </div>
</div>
