* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  overflow-x: hidden;
}

/*header*/

header {
  background-color: #808080;
  width: 100%;
  height: 60px;
  padding: 4px 30px;
}

.header-left {
  display: inline-block;
  height: 50px;
}

.header-logo {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  color: #000000;
}

.header-right {
  display: inline-block;
  float: right;
}

.header-right-item {
  margin-top: 0.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 7px 13px;
  line-height: 1.5;
  text-decoration: none;
}

.login-btn {
  background-color: #4a90e2;
  margin-right: 15px;
}

.sign-up-btn {
  background-color: #6c757d;
}

.header-content {
  font-size: 16px;
  text-decoration: none;
  line-height: 35px;
  color: #000000;
  margin-left: 10px;
}

/*main*/

.top {
  margin-top: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.about-container {
  background-color: #fff;
  padding: 45px;
  margin: 30px 0;
  border-radius: 20px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
}

.about-title {
  font-size: 30px;
  border-bottom: 1px solid #4a90e2;
  padding-bottom: 10px;
}

.about {
  font-size: 16px;
  line-height: 2.5;
  padding-top: 10px;
}

/*devise*/
.devise {
  font-size: 16px;
  padding-top: 36px;
}

.devise-box {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0px auto;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.devise-inner {
  width: 360px;
  margin: 0 auto;
}

.devise-title {
  font-size: 16px;
  margin: 22px;
}

.field {
  margin-bottom: 10px;
}

.required::before {
  content: "必須";
  color: #fff;
  background-color: red;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

.devise-form {
  padding: 10px;
  width: 80%;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 15px;
}

.devise-login-btn {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 7px;
  margin: 10px 0 20px 0;
  font-size: 15px;
}

.field_with_errors {
  display: contents;
}

#error_explanation {
  color: red;
  font-size: 15px;
  padding-bottom: 15px;
}

#error_explanation li {
  list-style: none;
  margin: 5px 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

/*users/edit*/
.devise-back-btn {
  color: #4a90e2;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
  text-decoration: none;
}

.devise-edit-btn {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 7px;
  margin: 10px 0 20px 0;
  font-size: 15px;
}
