* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  overflow-x: hidden;
}

/*header*/

header {
  background-color: #a9a9a9;
  width: 100%;
  height: 60px;
  padding: 4px 30px;
}

.header-left {
  display: inline-block;
  height: 50px;
}

.header-logo {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  color: #000000;
}

.header-right {
  display: inline-block;
  float: right;
}

.header-right-item {
  margin-top: 0.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 7px 13px;
  line-height: 1.5;
  text-decoration: none;
}

.login-btn {
  background-color: #4a90e2;
  margin-right: 15px;
}

.sign-up-btn {
  background-color: #6c757d;
}

.header-content {
  font-size: 16px;
  text-decoration: none;
  line-height: 35px;
  color: #000000;
  margin-left: 10px;
}

/*hamburger*/
.hamburger {
  display : block;
  position: fixed;
  right : 13px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

nav.globalMenuSp {
  position: fixed;
  top  : 60px;
  right: 0;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.3s;
  width: 30%;
}

nav.globalMenuSp ul {
  background-color: #fff;
  border: 1px solid #ced4da;
  list-style: none;
}

nav.globalMenuSp ul li .header-content {
  display: block;
  padding: 0.5em 0;
  text-decoration :none;
}

/* このクラスをjQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}

@media screen and (max-width: 599px) {
  .header-content, .login-btn, .sign-up-btn {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

/*main*/

.top {
  margin-top: 30px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.about-container {
  background-color: #fff;
  padding: 45px;
  margin: 30px 0;
  border-radius: 20px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
}

.about-title {
  font-size: 30px;
  border-bottom: 1px solid #696969;
  padding-bottom: 10px;
}

.about {
  font-size: 16px;
  line-height: 2.5;
  padding-top: 10px;
}

/*devise*/
.devise {
  font-size: 16px;
  padding-top: 36px;
}

.devise-box {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0px auto;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.devise-inner {
  width: 360px;
  margin: 0 auto;
}

.devise-title {
  font-size: 16px;
  margin: 22px;
}

.field {
  margin-bottom: 10px;
}

.required::before {
  content: "必須";
  color: #fff;
  background-color: red;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

.devise-form {
  padding: 10px;
  width: 80%;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 15px;
}

.devise-login-btn {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 7px;
  margin: 10px 0 20px 0;
  font-size: 15px;
}

.field_with_errors {
  display: contents;
}

#error_explanation {
  color: red;
  font-size: 15px;
  padding-bottom: 15px;
}

#error_explanation li {
  list-style: none;
  margin: 5px 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.guest-login {
  font-size: 14px;
  color: #555;
}

/*users/edit*/
.devise-back-btn {
  color: #4a90e2;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
  text-decoration: none;
}

.devise-edit-btn {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 7px;
  margin: 10px 0 20px 0;
  font-size: 15px;
}

/*search*/
.form-container {
  background-color: #fff;
  padding: 45px;
  margin: 30px 0;
  border-radius: 20px;
  text-align: center;
  line-height: 2;
}

.result-container {
  text-align: left;
  font-size: 14px;
  margin: 0 10px;
}

.search-btn {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 70px;
  padding: 7px;
  font-size: 14px;
}

.search-form {
  padding: 10px;
  width: 40%;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 14px;
}

.music-content {
  font-size: 18px;
}

.btn-area {
  margin-top: 10px;
}

.add-btn {
  color: #4a90e2;
  cursor: pointer;
  border: 0.5px solid #ced4da;
  border-radius: 5px;
  padding: 1px 3px;
  font-size: 13px;
  margin-left: 15px;
}

/*posts*/
.post-title {
  margin-bottom: 30px;
}

.post-link {
  text-decoration: none;
  color: #4a90e2;
  padding: 15px;
  font-size: 16px;
}

.scene-title {
  border-bottom: 0.5px solid #ced4da;
}

.repertory-content {
  margin-bottom: 50px;
}

.repertory-list {
  margin: 10px 30px;
  list-style: none;
  text-align: left;
  font-size: 15px;
}

.delete-btn {
  background-color: #ff0000;
  font-size: 13px;
  padding: 2px 4px;
  margin-left: 10px;
}

.post-btn {
  background-color: #c0c0c0;
  color: #000000;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 2px 4px;
}

.post-form {
  padding: 2px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 10px;
}
